@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    position: relative;
}
.container {
    max-width: 914px;
    height: 645px;
    /* margin: 50px auto;
    padding: 0 20px; */
    position: absolute;
    top: 0;
    left: 0;
}

.slides {
    width: 100%;
    display: flex;
    border-radius:3px;
    overflow: hidden;
}
.slide {
    list-style-type: none;
    height: 645px;
    width: 10%;
    overflow: hidden;

    -webkit-transition:all 500ms linear;
	-moz-transition:all 500ms linear;
	-o-transition:all 500ms linear;
	-ms-transition:all 500ms linear;
	transition:all 500ms linear;
}

/* brands colors */
.brand1{
    background-color: #00154A;
}
.brand2{
    background-color: #00287F;
}
.brand3{
    background-color: #02399D;
}
.brand4{
    background-color: #0149AF;
}
.brand5{
    background-color: #0057BE;
}
.brand6{
    background-color: #1469B9;
}
/* .action{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.slide a.action{
    display: block;
    height: 100%;
    position: relative;
}
.slide a.action span{
    font-weight: 600;
    color:#fff;
    transform: rotate(270deg);
    position: absolute;
    top: 10%;
    width: 400px;
    left: 30%;
    height: 400px;
}
.slide-content{
    display: block;
    width: 720px;
    padding: 40px;
}
.slide-content ul{
    margin: 40px 0;
}
.slide-content ul li {
    list-style: none;
    margin-top: 20px;
    width: 400px;
}
.slide-content ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
}
.slide-content{
    color:#fff;
}
.active {
    width:80%;
}
.active a.action{
    display: none;
}
svg{
    z-index: 999;
}
